@import url("https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "lenis/dist/lenis.css";

@font-face {
  font-family: "Justine Signature";
  src: url("/fonts/JustineSignature.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-justine: "Justine Signature", cursive;
  --font-geist-pixel: "Geist Pixel", sans-serif;
  --font-tiktok-sans: "Tiktok Sans", sans-serif;

  --color-white: #ffffff;

  --breakpoint-xs: 30rem;

  --animate-float: float 4s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-12px);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jersey10: var(--font-jersey-10);
  --font-mochiy-pop-one: var(--font-mochiy-pop-one);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-tiktok-sans);
}

:root {
  --background: #4facfe;
  --foreground: #00f2fe;
}

[data-theme="day"] {
  --background: #4facfe;
  --foreground: #00f2fe;
}

[data-theme="dusk"] {
  --background: #ff6b6b;
  --foreground: #c44569;
}

[data-theme="night"] {
  --background: #0f2027;
  --foreground: #2c5364;
}

@layer base {
  html {
    scroll-behavior: initial;
  }

  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    min-height: 100%;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* Lenis smooth scroll helper classes */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .masking-photo {
    -webkit-mask:
      url("../public/images/shapes.png") center / contain no-repeat,
      linear-gradient(black 0 0);
    -webkit-mask-composite: destination-in;
    mask:
      url("../public/images/shapes.png") center / contain no-repeat,
      linear-gradient(black 0 0);
    mask-position: center;
    mask-composite: intersect;
  }
}
