@import "tailwindcss";

@theme {
  --color-dark-navy: #0f172a;
}

@layer base {
  /* width */
  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-inherit;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-[#2489FF]/25 border border-gray-700 rounded-4xl cursor-pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#2489FF]/40;
  }

  .hover-gradient-border {
    @apply relative rounded-lg transition-all hover:bg-[#334155]/60 hover:backdrop-blur-xs
    hover:before:pointer-events-none hover:before:absolute hover:before:inset-0 hover:before:rounded-[inherit] hover:before:border hover:before:border-transparent 
    hover:before:[background:linear-gradient(180deg,rgba(36,137,255,1),rgba(255,255,255,0))_border-box] 
    hover:before:[mask-composite:exclude_!important] hover:before:[mask:linear-gradient(black_0_0)_padding-box,_linear-gradient(black_0_0)];
  }
}
